<div class="container">
    <h2>Your tasks!</h2>
    <div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <th>Task Id</th>
            <th>Content</th>
            <th>Delete</th>
        </thead>
        <tbody>
        {{#each this}} 
            {{#if name}} 
                {{else}}
                    {{#if _id}}
                    <tr>
                        <td>
                            <a href="/task/{{_id}}">{{_id}}</a>
                        </td>
                            {{#if content}}
                        <td>  
                            <span class="content__text">{{content}}</span>
                        </td>
                            {{else}}
                            <span>Nothing to view</span></td>
                            {{/if}}
                        <td>
                            <span class="glyphicon glyphicon-minus delete"></span>
                        </td>
                    </tr>
                    {{/if}} 
            {{/if}} 
        {{/each}}
        </tbody>
    </table>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
    {{!-- var socket = io.connect("http://kuric:3000"); --}}
     var socket = io.connect("https://codetogether.herokuapp.com/");
    $("body").on('click', '.delete', function (event) {
        var taskId = $(this).siblings('a').text();
        socket.emit('deleteTask', { taskId: taskId });
    });

    socket.on('deleteTask', function (data) {
        if (data.acknowledged) {
            $("a[href='/task/" + data.taskId + "']").parent("li").remove();
        } else {
            alert("Something wrong! :(");
        }
    });
</script>