<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> --}}
    {{!-- <link rel="stylesheet" href="/stylesheets/theme-default.css" id="theme_css"> --}}
    <link rel="stylesheet" type="text/css" title="moon" href="/stylesheets/theme-light.css">
    <link rel="alternate stylesheet" type="text/css" title="sun" href="/stylesheets/theme-dark.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.38.0/codemirror.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.38.0/theme/monokai.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
  </head>
  <body onload="set_style_from_cookie()">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Code Together</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            {{#if user}}
            <li><a href="/cabinet">Cabinet</a></li>
            {{/if}}
            <li><a href="/contact">Contact</a></li>
            <li><a href="/about">About</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li aria-hidden="true"><a class="icon-twitter" href="https://twitter.com/kuridz"></a></li>
            <li aria-hidden="true"><a class="icon-facebook" href="https://www.facebook.com/oleksandr.kuric"></a></li>
            <li aria-hidden="true"><a class="icon-github" href="https://github.com/kuric"></a></li>
            <li  aria-hidden="true"><a class="icon-sun" style="display: none" href=""></a></li>
            <li  aria-hidden="true"><a class="icon-moon" href=""></a></li>
            {{#if user}}
              
              <li class="dropdown">
                <a href="#" id="userName" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  {{user.name}}<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="/logout">Logout</a></li>
                </ul>
              </li>
            {{else}}
              <li><a href="/login">Login</a></li>
              <li><a href="/register">Register</a></li>
            {{/if}}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <input type="hidden" id="uid" value="{{user.id}}" />
    {{{body}}}
   
        <footer class="navbar navbar-inverse navbar-fixed-bottom">
          <p>Made by Oleksandr Andrieiev</p>
        </footer >
      
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script>
      $(".icon-sun").click(function(e){
          e.preventDefault();
          $(this).attr('style','display: none !important')
          $(".icon-moon").attr('style','display: block !important');
          switch_style('moon');
      });
       $(".icon-moon").click(function(e){
          e.preventDefault();
          $(this).attr('style','display: none !important');
          $(".icon-sun").attr('style','display: block !important');
          switch_style('sun');
      });
      // *** TO BE CUSTOMISED ***

var style_cookie_name = "style" ;
var style_cookie_duration = 30 ;
{{!-- var style_domain = "kuric" ; --}}
var style_domain = "codetogether.herokuapp.com" ;
function switch_style ( css_title )
{

  var i, link_tag ;
  for (i = 0, link_tag = document.getElementsByTagName("link") ;
    i < link_tag.length ; i++ ) {
    if ((link_tag[i].rel.indexOf( "stylesheet" ) != -1) &&
      link_tag[i].title) {
      link_tag[i].disabled = true ;
      if (link_tag[i].title == css_title) {
        link_tag[i].disabled = false ;
      }
    }
    set_cookie( style_cookie_name, css_title,
      style_cookie_duration, style_domain );
  }
}
function set_style_from_cookie()
{
  var css_title = get_cookie( style_cookie_name );
  if (css_title.length) {
    switch_style( css_title );
  }
}
function set_cookie ( cookie_name, cookie_value,
    lifespan_in_days, valid_domain )
{
    // https://www.thesitewizard.com/javascripts/cookies.shtml
    var domain_string = valid_domain ?
                       ("; domain=" + valid_domain) : '' ;
    document.cookie = cookie_name +
                       "=" + encodeURIComponent( cookie_value ) +
                       "; max-age=" + 60 * 60 *
                       24 * lifespan_in_days +
                       "; path=/" + domain_string ;
}
function get_cookie ( cookie_name )
{
	var cookie_string = document.cookie ;
	if (cookie_string.length != 0) {
		var cookie_array = cookie_string.split( '; ' );
		for (i = 0 ; i < cookie_array.length ; i++) {
			cookie_value = cookie_array[i].match ( cookie_name + '=(.*)' );
			if (cookie_value != null) {
				return decodeURIComponent ( cookie_value[1] ) ;
			}
		}
	}
	return '' ;
}

    </script>
  </body>
</html>
